name: mruby/edge CI

on:
  push:
    branches:
      - master
    paths:
      - 'mrubyedge/**'
  pull_request:
    branches:
      - master
    paths:
      - 'mrubyedge/**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        BUILD_TARGET: [release] # refers to a cargo profile
    steps:
      - uses: actions/checkout@v5
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install C compiler
        run: sudo apt-get update && sudo apt-get install -y build-essential
      - name: Run tests for "${{ matrix.BUILD_TARGET }}" profile
        run: cargo test --profile ${{ matrix.BUILD_TARGET }}
        working-directory: mrubyedge
      - name: Build binaries for "${{ matrix.BUILD_TARGET }}" profile
        run: cargo build --profile ${{ matrix.BUILD_TARGET }}
        working-directory: mrubyedge